<div class='l-wrapper'>
  <header class='l-header'>昼会へるぱー</header>
  <div class='l-content'>

    <section id='left' class='p-members p-members--entry'>
      <%= render partial: 'users/user', collection: @users %>
    </section>

    <section id='center' class='p-members p-members--absence'>
      <%= render partial: 'users/other', collection: @others %>
    </section>
    <%= form_with url: combinations_path, id: 'new_combination', class: 'p-combi-btn' do |c| %>
      <% @users.each do |user| %>
        <%= c.hidden_field :user_ids, name: 'user_ids[]', value: user.id, data: { for_combination: user.id } %>
      <% end %>
      <%= c.submit 'ペア組み！', class: 'c-combi-btn js-submit-pair' %>
    <% end %>
  </div>

  <section id='result' class='l-result'>
    <textarea rows="20" cols='40' id='textarea'></textarea>
    <div class='p-guest-form'>
      <label for='input-guest'>特別ゲスト</label>
      <input type='text' class='c-text-field', id='input-guest'>
      <button class='js-add-guest c-btn c-btn--light'>追加</button>
    </div>
  </section>

</div>
