<div class='l-wrapper'>
  <header class='l-header'>昼会へるぱー</header>
  <div class='l-content'>

    <div class='l-members p-members'>
      <label class='p-members__label p-members__label--entry'>参加者</label>
      <section id='left' class='p-members__board p-members__board--entry'>
        <%= render partial: 'users/user', collection: @users %>
      </section>
    </div>

    <div class='l-members p-members'>
      <label class='p-members__label p-members__label--absence'>お休み</label>
      <section id='center' class='p-members__board p-members__board--absence'>
        <%= render partial: 'users/other', collection: @others %>
      </section>
    </div>

    <%= form_with url: combinations_path, id: 'new_combination', class: 'p-combi-btn' do |c| %>
      <% @users.each do |user| %>
        <%= c.hidden_field :user_ids, name: 'user_ids[]', value: user.id, data: { for_combination: user.id }, id: nil %>
      <% end %>
      <%= c.submit 'ペア組み！', class: 'c-combi-btn js-submit-pair' %>
    <% end %>
  </div>

  <section id='result' class='l-result p-result'>
    <label class='p-result__result-label' for='textarea'>今日のペア★</label>
    <textarea class='c-textarea' rows="20" id='textarea'></textarea>
    <div class='p-guest-form'>
      <label for='input-guest'>特別ゲスト</label>
      <input type='text' class='c-text-field', id='input-guest'>
      <button class='js-add-guest c-btn c-btn--light'>追加</button>
    </div>
  </section>

</div>
